<button class="btn btn-outline-primary" {{action "one"}}>One</button>
<button class="btn btn-outline-primary" {{action "two"}}>Two</button>
<button class="btn btn-outline-primary" {{action "three"}}>Three</button>

<hr>

<PaymentGraph @payments={{this.model}} />
