<form ...attributes>
  <fieldset>
    <legend>New Payment</legend>

    <TextInput
      @label="Amount"
      required
      placeholder="$0.00"
    />

    <TextInput
      @label="Payment Card Number"
      required
      placeholder="•••• •••• •••• ••••"
    />

    <input class="btn btn-primary" type="submit" value="Save" />
  </fieldset>
</form>
