<h2>Buttons</h2>

<button class="btn">Button</button>
<button class="btn" disabled>Disabled</button>
<button class="btn active" aria-pressed="true">Active</button>

<hr>

<button class="btn btn-primary">Primary</button>
<button class="btn btn-primary" disabled>Disabled</button>
<button class="btn btn-primary active" aria-pressed="true">Active</button>
