<h2>Form elements</h2>

<TextInput @label="Verrrrrrryyyyyyyy long label" />
<TextInput @label="Short label" @value="Prefilled" />
<TextInput @label="Disabled" @value="Prefilled" disabled={{true}} />
<TextInput @label="Invalid" @value="" required={{true}} />
